.labelRutaViaje{
	width: 100px;
}
.textoRutaViaje{
	/*width: 80px;*/
}
.contenedorSecundarioRV{
	width: 100%;	
}
#contenedorRutaViaje, #contenedorDatosViaje{
	width: 49%;
}
.labelDatosViaje{
	width: 50%;
}
.divCeldaParada{
	float: left;
	width: 50%;
	text-align: center;
}
.divCeldaTrayecto{
	float: left;
	width: 33%;
	text-align: center;
}
#contenedorMapa{
	height: 400px;
	width: 100%;
}
.divCeldaSolicitudes {
    width: 16%;
    float: left;
    text-align: center;
}
#divOcultarSolicitudes{
	width: 100%;
	color: green;
	cursor: pointer;
	border-bottom: thin solid green;
	text-align: center;
}
#divSinSolicitudes{
	width: 183px;
	margin: auto;
}