.labelRutaViaje{
	width: 100px;
}
.contenedorSecundarioRV{
	width: 100%;	
}
#contenedorRutaViaje, #contenedorDatosViaje{
	width: 49%;
}
.labelDatosViaje{
	width: 50%;
}
.divCeldaParada{
	float: left;
	width: 50%;
	text-align: center;
}
.divCeldaTrayecto{
	text-align: center;
}
#contenedorMapa{
	height: 380px;
	width: 100%;
}
.divCeldaSolicitudes {
    width: 16%;
    float: left;
    text-align: center;
}
#divOcultarSolicitudes{
	width: 100%;
	color: green;
	cursor: pointer;
	border-bottom: thin solid green;
	text-align: center;
}
#divSinSolicitudes{
	width: 183px;
	margin: auto;
}

.labelRespuesta{
	 border-bottom: thin solid blue;
    color: blue;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    width: 100%;
	
}
.txbCuposSolicitados input[type="text"]{
	width: 20px !important;
	float: left;
}
.divWithoutShadow{
	text-shadow: none;
}
#divLeftSection{
	width: 260px;
	overflow-y: auto;
	height: 530px;
	float: left;
}
#divRightSection{
	width: 700px;
	float: left;
	height: 530px;
	font-size: 10px;
}
.scrollY{
	overflow-y: auto;
	height: 370px;
}
.rutaViajeParada{
	float: left;
	width: 30px;
	text-align: center;
}
.tituloLabelDV{
	background-color: #1C5E55;
	color: white;
	font-weight: bold;
	padding: 2px;
	text-align: center;
	width: 60px;
}
.divBotones
{
    width: 100%;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}
.divBotones input[type="submit"]{
	margin-right: 10px;
    float: right;
}
#tabsDetalleViaje{
	height: 427px;
}
.marginLeft{
	margin-left: 5px;
	width: 100%;
}
.divCupos{
	height: 29px;
	padding: 2px;
	font-size: 24px;
	padding-right: 10px;
}
.divHeaderOrigenDestino{
	padding-left: 4px;
}

.divHeaderCupos{
	padding-right: 4px;
}
/* Estilos de las solicitudes*/
.divTituloTrayecto{
	font-size: 14px;
}
.divSubtituloTrayecto{
	padding-left: 10px;
}
.divSubtituloCupos{
	font-size: 24px;
}
.divContenedorTituloTrayecto{

	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* F3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
	
}
.divContenedorTituloTrayecto, .divSolicitante{
	width: 340px;
	margin: auto;
	border: thin solid gray;
	padding: 5px;
}
.divSolicitante{
	border-top: none;
	background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
.divNombreSolicitante{
	border: thin dashed gray;
    padding: 10px;
    background: #eeeeee; /* Old browsers */
	
}
.divComentarioSolicitante{
	margin-left: 5px;
    padding: 5px;
    width: 240px;
}
.btnParticipar 
{
    font-size: 10px;
    margin-right: 5px;
    color: black !important;
}

/* ****************** RatingStar ****************** */
.ratingStar
{
	white-space:nowrap;
	margin:1em;
	height:14px;
}
.ratingStar .ratingItem {
    font-size: 0pt;
    width: 13px;
    height: 12px;
    margin: 0px;
    padding: 0px;
    display: block;
    background-repeat: no-repeat;
	cursor:pointer;
}
.ratingStar .Filled {
    background-image: url("../../Styles/images/rating/ratingStarFilled.png");
}
.ratingStar .Empty {
    background-image: url("../../Styles/images/rating/ratingStarEmpty.png");
}
.ratingStar .Saved {
    background-image: url("../../Styles/images/rating/ratingStarSaved.png");
}

/* ****************** Gauge ****************** */
.ratingGauge
{
	white-space:nowrap;
    font-size: 0pt;
	width:122px;
	height:12px;
	padding:1px 0 1px 1px;
	margin:1em;
	background-color:transparent;
	background-position:top left;
	background-repeat:no-repeat;
	background-image:url("../../Styles/images/rating/ratingGauge.png");
}
.ratingGauge .ratingItem {
    font-size:0pt;
    width:20px;
    height:8px;
    margin:0;
    padding:0;
    display:block;
    background-repeat: repeat-x;
	cursor:e-resize;
}
.ratingGauge .Filled {
    background-color:transparent;
}
.ratingGauge .Empty {
    background-color:#ff0;
}
.ratingGauge .Saved {
    background-color:#f00;
}

/* ****************** Thermometer ****************** */
.ratingThermometer 
{
	white-space:nowrap;
	width:220px;
	height:0px;
	padding:26px 20px 20px 16px;
	margin:1em;
	background-color:transparent;
	background-position:top left;
	background-repeat:no-repeat;
	background-image:url("../../Styles/images/rating/ratingThermometer2.png");
}
.ratingThermometer .ratingItem {
    font-size: 0pt;
    width: 10px;
    height: 8px;
    margin: 0;
    padding: 0;
    display: block;
    background-repeat: repeat-x;
	cursor:e-resize;
}
.ratingThermometer .Filled {
    background-image: url("../../Styles/images/rating/ratingFilled.png");
}
.ratingThermometer .Empty {
    background-image: url("../../Styles/images/rating/ratingEmpty.png");
}
.ratingThermometer .Saved {
    background-image: url("../../Styles/images/rating/ratingSaved.png");
}

#contenedorInfoConductor {
    margin-bottom: 5px;
}


