.divCeldaMisViajes {
    width: 28%;
    float: left;
    text-align: center;
}
/*.divCeldaSolicitudes {
    width: 16%;
    float: left;
    text-align: center;
}
#divOcultarSolicitudes{
	width: 100%;
	color: green;
	cursor: pointer;
	border-bottom: thin solid green;
	text-align: center;
}*/