.divCeldaMisViajes {
    width: 28%;
    float: left;
    text-align: center;
}
.lblSinViajes {
    float: left;
    font-size: 14px;
    text-align: center;
    width: 100%;
    padding: 3px;
   background: rgb(234,239,181); /* Old browsers */
background: -moz-linear-gradient(top, rgba(234,239,181,1) 0%, rgba(225,233,160,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,239,181,1)), color-stop(100%,rgba(225,233,160,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(234,239,181,1) 0%,rgba(225,233,160,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(234,239,181,1) 0%,rgba(225,233,160,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(234,239,181,1) 0%,rgba(225,233,160,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(234,239,181,1) 0%,rgba(225,233,160,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaefb5', endColorstr='#e1e9a0',GradientType=0 ); /* IE6-9 */
    margin-bottom: 10px;
}