<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://carpoolingco.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>carpoolingco.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CarpoolingCo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CarpoolingCo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CARPOOLEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:carpoolingserver.database.windows.net,1433;Initial Catalog=CarpoolingCo_db;User ID=carpoolingadmin@carpoolingserver;Password=BogotaRul3$" Name="Data Source=tcp:carpoolingserver.database.windows.net,1433;Initial Catalog=CarpoolingCo_db;User Id=carpoolingadmin@carpoolingserver;Password=BogotaRul3$" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=carpoolingserver.database.windows.net;Initial Catalog=CARPOOLING;Integrated Security=False;User ID=carpoolingadmin;Password=BogotaRul3$;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CARPOOLEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ModeloEntityFramework.CARPOOLModel.csdl|res://*/ModeloEntityFramework.CARPOOLModel.ssdl|res://*/ModeloEntityFramework.CARPOOLModel.msl;&#xD;&#xA;      provider=System.Data.SqlClient;&#xD;&#xA;      provider connection string=&quot;&#xD;&#xA;      data source=carpoolingserver.database.windows.net;&#xD;&#xA;      initial catalog=CARPOOLING;&#xD;&#xA;      integrated security=false;&#xD;&#xA;      User ID=carpoolingadmin;&#xD;&#xA;      Password=BogotaRul3$;&#xD;&#xA;      MultipleActiveResultSets=True;&#xD;&#xA;      App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CARPOOLEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ModeloEntityFramework.CARPOOLModel.csdl|res://*/ModeloEntityFramework.CARPOOLModel.ssdl|res://*/ModeloEntityFramework.CARPOOLModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:carpoolingserver.database.windows.net,1433;initial catalog=CarpoolingCo_db;user id=carpoolingadmin@carpoolingserver;password=BogotaRul3$;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>