.bannerInfoDiv{
	background-color: lime;
	height: 150px;
}
.titulo{
	color: green;
	font-size: 25px;
	border-bottom: thin solid green;
}
.subtitulo{
	color: green;
	border-bottom: thin solid green;
	text-align: center;
	margin-bottom: 10px;
	font-size: 16px;
}
.text{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
}
.leftPosition{
	float: left;
}
.rightPosition{
	float: right;
}
.divMediaLinea{
	border-top: thin solid #559B2B;
	width: 50%;
	height: 15px;	
}

.divRelleno{
	height: 10px;
}
.divClear{
	clear: both;
}
.centerDivs{
	margin-left: auto;
	margin-right: auto;
}