html {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

/*incluye manuel*/
input[type="text"], input[type="password"] {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    line-height: 17px;
    border: 1px solid #C0C0C0;
    border-radius: 1px;
    height: 30px;
    padding: 0 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    direction: ltr;
}

    input[type="text"]:focus, input[type="password"]:focus {
        -webkit-box-shadow: 0px 0px 3px #888888 inset;
        -moz-box-shadow: 0px 0px 3px #888888 inset;
        -o-box-shadow: 0px 0px 3px #888888 inset;
        -ms-box-shadow: 0px 0px 3px #888888 inset;
        box-shadow: 0px 0px 3px #888888 inset;
    }


/* login
----------------------------------------------------------*/
#login-div {
    border-bottom: solid 1px white;
    background-color: #a6dbed;
}   

#login {
    display: block;
    font-size: .85em;
    text-align: right;
    margin: 0 auto;
    max-width: 1020px;
    padding: 5px 0 5px 0;
}

    #login ul{
        margin:auto;
        padding: 0;
    }

    #login li{
        display: inline;
        list-style: none;
        position: relative;
    }

    #login a{
        margin: 0 10px;
        padding: 0 3px;
        text-decoration: none;
        font-weight: bold;
    }

    #login a:hover{
        text-decoration:none;
        color: white;
        text-shadow: 0 0 5px black;
        background: none;
    }

        #login a.username {
            background: none;
            margin-left: 0px;
            text-decoration: underline;
        }

/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    padding-top: 10px;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 25px;
    }

        ul#menu li a {
            background: none;
            color: white;
            text-shadow: 0 0 6px black;
            text-decoration: none;
        }

            ul#menu li a:hover {
                color: black;
                text-shadow: 0 0 6px white;
                text-decoration: none;
            }






/*********CLASES PARA BOTONES***********/

.button-gradient {
    padding: 5px 10px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

    .button-gradient:active {
        -moz-box-shadow: 0 -1px 3px rgba(0,0,0,0.25);
        -ms-box-shadow: 0 -1px 3px rgba(0,0,0,0.25);
        -o-box-shadow: 0 -1px 3px rgba(0,0,0,0.25);
        -webkit-box-shadow: 0 -1px 3px rgba(0,0,0,0.25);
        box-shadow: 0 -1px 3px rgba(0,0,0,0.25);
        -ms-transform: translateY(1px);
        -o-transform: translateY(1px);
        -webkit-transform: translateY(1px);
        -moz-transform: translateY(1px);
        transform: translateY(1px);
        border: 1px solid #fff !important;
    }

    .button-gradient.blue-dark {
        background: rgb(38, 100, 207);
        background: -webkit-gradient(linear,left top,left bottom,from(rgb(10, 143, 254)),to(rgb(43, 92, 198)));
        background: -moz-linear-gradient(top,rgb(10, 143, 254),rgb(43, 92, 198));
        background: -o-linear-gradient(top,rgb(10, 143, 254),rgb(43, 92, 198));
        background: -ms-linear-gradient(top,rgb(10, 143, 254),rgb(43, 92, 198));
        /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a8ffe', endColorstr='#2b5cc6');*/
        -webkit-text-shadow: 0 1px 1px rgba(10, 143, 254, 0.25);
        -moz-text-shadow: 0 1px 1px rgba(10, 143, 254, 0.25);
        -ms-text-shadow: 0 1px 1px rgba(10, 143, 254, 0.25);
        -o-text-shadow: 0 1px 1px rgba(10, 143, 254, 0.25);
        text-shadow: 0 1px 1px rgb(10, 143, 254);
        border: 1px solid rgb(3, 68, 98);
    }

        .button-gradient.blue-dark:hover {
            background: rgb(38, 85, 180);
            background: -webkit-gradient(linear,left top,left bottom,from(rgb(38, 85, 180)),to(rgb(43, 75, 198)));
            background: -moz-linear-gradient(top,rgb(38, 85, 180),rgb(43, 75, 198));
            background: -o-linear-gradient(top,rgb(38, 85, 180),rgb(43, 75, 198));
            background: -ms-linear-gradient(top,rgb(38, 85, 180),rgb(43, 75, 198));
        }

        .button-gradient.blue-dark:focus {            
            background: rgb(38, 85, 180);
            background: -webkit-gradient(linear,left top,left bottom,from(rgb(38, 85, 180)),to(rgb(43, 75, 198)));
            background: -moz-linear-gradient(top,rgb(38, 85, 180),rgb(43, 75, 198));
            background: -o-linear-gradient(top,rgb(38, 85, 180),rgb(43, 75, 198));
            background: -ms-linear-gradient(top,rgb(38, 85, 180),rgb(43, 75, 198));
        }

    .button-gradient.blue {
        background: rgb(0, 149, 205);
        background: -webkit-gradient(linear,left top,left bottom,from(rgb(0, 173, 238)),to(rgb(0, 120, 165)));
        background: -moz-linear-gradient(top,rgb(0, 173, 238),rgb(0, 120, 165));
        background: -o-linear-gradient(top,rgb(0, 173, 238),rgb(0, 120, 165));
        background: -ms-linear-gradient(top,rgb(0, 173, 238),rgb(0, 120, 165));
        /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');*/
        -webkit-text-shadow: 0 1px 1px rgba(0, 173, 238, 0.25);
        -moz-text-shadow: 0 1px 1px rgba(0, 173, 238, 0.25);
        -ms-text-shadow: 0 1px 1px rgba(0, 173, 238, 0.25);
        -o-text-shadow: 0 1px 1px rgba(0, 173, 238, 0.25);
        text-shadow: 0 1px 1px rgba(0, 173, 238, 0.25);
        border: 1px solid rgb(3, 68, 98);
    }

        .button-gradient.blue:hover {
            background: rgb(0, 135, 185);
            background: -webkit-gradient(linear,left top,left bottom,from(rgb(0, 135, 200)),to(rgb(0, 108, 165)));
            background: -moz-linear-gradient(top,rgb(0, 135, 200),rgb(0, 108, 165));
            background: -o-linear-gradient(top,rgb(0, 135, 200),rgb(0, 108, 165));
            background: -ms-linear-gradient(top,rgb(0, 135, 200),rgb(0, 108, 165));
        }

        .button-gradient.blue:focus {            
            background: rgb(0, 135, 185);
            background: -webkit-gradient(linear,left top,left bottom,from(rgb(0, 135, 200)),to(rgb(0, 108, 165)));
            background: -moz-linear-gradient(top,rgb(0, 135, 200),rgb(0, 108, 165));
            background: -o-linear-gradient(top,rgb(0, 135, 200),rgb(0, 108, 165));
            background: -ms-linear-gradient(top,rgb(0, 135, 200),rgb(0, 108, 165));
        }

    .button-gradient.green {
        background: rgb(143, 200, 87);
        background: -webkit-gradient(linear,left top,left bottom,from(rgb(143, 200, 87)),to(rgb(92, 148, 37)));
        background: -moz-linear-gradient(top,rgb(143, 200, 87),rgb(92, 148, 37));
        background: -o-linear-gradient(top,rgb(143, 200, 87),rgb(92, 148, 37));
        background: -ms-linear-gradient(top,rgb(143, 200, 87),rgb(92, 148, 37));
        /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8fc857', endColorstr='#5c9425');*/
        -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        -o-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        -ms-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        border: 1px solid rgb(85, 102, 17);
    }

        .button-gradient.green:hover {
            background: rgb(143, 187, 68);
            background: -webkit-gradient(linear,left top,left bottom,from(rgb(143, 187, 68)),to(rgb(92, 136, 37)));
            background: -moz-linear-gradient(top,rgb(143, 187, 68),rgb(92, 136, 37));
            background: -o-linear-gradient(top,rgb(143, 187, 68),rgb(92, 136, 37));
            background: -ms-linear-gradient(top,rgb(143, 187, 68),rgb(92, 136, 37));
        }

        .button-gradient.green:focus {            
            background: rgb(143, 187, 68);
            background: -webkit-gradient(linear,left top,left bottom,from(rgb(143, 187, 68)),to(rgb(92, 136, 37)));
            background: -moz-linear-gradient(top,rgb(143, 187, 68),rgb(92, 136, 37));
            background: -o-linear-gradient(top,rgb(143, 187, 68),rgb(92, 136, 37));
            background: -ms-linear-gradient(top,rgb(143, 187, 68),rgb(92, 136, 37));
        }

/*estilos para el formulario de login*/
/*#
login-div {
    background: none repeat scroll 0 0 #F1F1F1;
    padding: 20px 25px;
    width: 250px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 3px #888888;
    -moz-box-shadow: 0px 0px 3px #888888;
    -ms-box-shadow: 0px 0px 3px #888888;
    -o-box-shadow: 0px 0px 3px #888888;
    box-shadow: 0px 0px 3px #888888;
}
*/

#divLoginFormFloat {
    display:none;
    /*background: none repeat scroll 0 0 #F1F1F1;*/
    background: none repeat scroll 0 0 rgb(227, 246, 252);;    
    padding: 20px 10px 10px;
    width: 200px;
    /*border: 1px solid #E5E5E5;*/
    border: 1px solid white;
    border-radius: 5px 0 5px 5px;
    -webkit-box-shadow: 5px 5px 15px #888888;
    -moz-box-shadow: 5px 5px 15px #888888;
    -ms-box-shadow: 5px 5px 15px #888888;
    -o-box-shadow: 5px 5px 15px #888888;
    box-shadow: 5px 5px 15px #888888;
    text-align: center;
    position: fixed;
    z-index: 20;
}

#divLoginFormFloat input[type="button"], input[type="submit"] {
    margin: auto;
    display:block;
}


#divLoginFormFloat a {
    margin: 10px 0 auto;
    display:block;
    font-size: 11px;
}

#divLoginFormFloat fieldset {
    border: 0 none;
    margin: 0 0 15px;
    padding: 0;
    text-align: left;
}

#divLoginFormFloat fieldset strong {
    display: block;
    padding-bottom: 6px;
    font-size: 13px;
}

/*estilos para el formulario de login*/



/*incluye manuel*/

body #body{
    padding-top:120px;
}


header, footer, hgroup, nav, section {
    display: block;
}

/*incluye manuel*/
header {
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    overflow: visible;
    z-index: 3;
    min-height: 80px;
    background-color: rgb(122, 192, 218);
    -webkit-box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3) inset, 0px 1px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3) inset, 0px 1px 10px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3) inset, 0px 1px 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3) inset, 0px 1px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3) inset, 0px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 10px 10px;
}

    header .content-wrapper {
        padding-top: 15px;
        padding-bottom: 15px;
    }

/*incluye manuel*/


/* site title
----------------------------------------------------------*/
.site-title {
    color: #fff;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}


a {
    color: #333;
    outline: none;
    text-decoration: underline;
}

    a:link, a:visited, 
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }




mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}


.clear-fix:after, .clear-fix-margin:after, .clear-fix-margin-top:after, .clear-fix-margin-bottom:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.clear-fix-margin, .clear-fix-margin-top {
    padding-top: 20px;
}

.clear-fix-margin, .clear-fix-margin-bottom {
    padding-bottom: 20px;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
}

#header_page {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.main-content {
    background: url("../Images/accent.png") no-repeat;
    /*padding-left: 10px;*/
    padding-top: 40px;
}

.featured + .main-content {
    background: url("../Resources/heroAccent.png") no-repeat;
}



footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}






/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    /*background-color: #fff;*/
    background-color:transparent;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

    .featured hgroup.title h1, .featured hgroup.title h2 {
        color: #fff;
    }

    .featured p {
        font-size: 1.1em;
    }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2 {
        display: inline;
    }

    hgroup.title h2 {
        font-weight: normal;
        margin-left: 3px;
    }

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom: 5px;
    }

fieldset.open-auth-providers {
    margin-top: 15px;
}

    fieldset.open-auth-providers button {
        margin-bottom: 12px;
    }

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: medium;
    /*font-weight: 600;*/
}

    label.checkbox {
        display: inline;
    }

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 0;
    padding: 5px;
    /*width: 300px;*/
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

/*
    td input[type="submit"],
td input[type="button"],
td button {
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}
*/


/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

        th a:link, th a:visited, th a:active, th a:hover {
            color: #333;
            font-weight: 600;
            text-decoration: none;
            padding: 0;
        }

        th a:hover {
            color: #000;
        }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

        th.asc a:after, th.desc a:after {
            display: block;
            position: absolute;
            right: 0em;
            top: 0;
            font-size: 0.75em;
        }

        th.asc a:after {
            content: '▲';
        }

        th.desc a:after {
            content: '▼';
        }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/*CLASES PERSONALIZADAS*/
.errorValidacion {
    -moz-box-shadow: 0 0 3px red;
    -webkit-box-shadow: 0 0 3px red;
    box-shadow: 0 0 3px red;
    background-color: rgb(253, 242, 242);
}


/*estilo valcallout globos*/
.ajax__validatorcallout {
    min-width: 250px !important;
    max-width: 250px !important;
}

.ajax__validatorcallout_close_button_cell, .ajax__validatorcallout_icon_cell {
    display: none;
    border: none;
}
/*fin estilo valcallout globos*/


/*estilo valcallout debajo no globos*/
/*.ajax__validatorcallout {
    position: relative !important;
    top: 4px !important;
    left: 0 !important;
    width: inherit;
}

.ajax__validatorcallout_close_button_cell, .ajax__validatorcallout_icon_cell, .ajax__validatorcallout_callout_arrow_cell {    
    display: none;
    border: none;
}*/
/*fin estilo valcallout debajo no globos*/


.ajax__validatorcallout_error_message_cell {
    border: none !important;
    background-color: rgba(144, 238, 144, 0.5) !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 8px 9px 8px 9px !important;
    text-transform: uppercase;
    text-align: center;
    vertical-align:middle;
}

.ajax__validatorcallout div {
    border: none !important;
    background-color: rgba(144, 238, 144, 0.5) !important;
}

.ajax__validatorcallout td {
    border: none !important;
}

.ajax__validatorcallout_callout_arrow_cell {
    background-color: transparent !important;
}



