.labelRutaViaje{
	width: 100px;
}
.contenedorSecundarioRV{
	width: 100%;	
}
#contenedorRutaViaje, #contenedorDatosViaje{
	width: 49%;
}
.labelDatosViaje{
	width: 50%;
}
.divCeldaParada{
	float: left;
	width: 50%;
	text-align: center;
}
.divCeldaTrayecto{
	text-align: center;
}
#contenedorMapa{
	height: 380px;
	width: 100%;
}
.divCeldaSolicitudes {
    width: 16%;
    float: left;
    text-align: center;
}
#divOcultarSolicitudes{
	width: 100%;
	color: green;
	cursor: pointer;
	border-bottom: thin solid green;
	text-align: center;
}
#divSinSolicitudes{
	width: 183px;
	margin: auto;
}

.labelRespuesta{
	 border-bottom: thin solid blue;
    color: blue;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    width: 100%;
	
}
.txbCuposSolicitados input[type="text"]{
	width: 20px !important;
	float: left;
}
.divWithoutShadow{
	text-shadow: none;
}
#divLeftSection{
	width: 260px;
	overflow-y: auto;
	height: 400px;
	float: left;
}
#divRightSection{
	width: 700px;
	float: left;
	height: 400px;
	font-size: 10px;
}
.scrollY{
	overflow-y: auto;
}
.rutaViajeParada{
	float: left;
	width: 30px;
	text-align: center;
}
.textLeft{
	text-align: left;
}
.tituloLabelDV{
	background-color: #1C5E55;
	color: white;
	font-weight: bold;
	padding: 2px;
	text-align: center;
	width: 60px;
}
.divBotones
{
    width: 100%;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}
.divBotones input[type="submit"]{
	margin-right: 10px;
    float: right;
}
#tabsDetalleViaje{
	height: 427px;
}
.marginLeft{
	margin-left: 5px;
	width: 100%;
}
.divCupos{
	height: 29px;
	padding: 2px;
	font-size: 24px;
	padding-right: 10px;
}
.divHeaderOrigenDestino{
	padding-left: 4px;
}

.divHeaderCupos{
	padding-right: 4px;
}