<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="CARPOOLEntities" connectionString="metadata=res://*/ModeloEntityFramework.CARPOOLModel.csdl|res://*/ModeloEntityFramework.CARPOOLModel.ssdl|res://*/ModeloEntityFramework.CARPOOLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=CARPOOL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <sessionState cookieless="false" mode="InProc" timeout="20"></sessionState>
    <globalization uiCulture="es" culture="es-CO" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Front/Bienvenida.aspx" timeout="20" defaultUrl="~/Front/Inicio.aspx" slidingExpiration="true" path="/" />
    </authentication>
    <authorization>
      <deny users="?" />
      <!--<allow users="*"/>-->
    </authorization>
    <httpHandlers>
      <add verb="POST" path="FilesUploader.html" type="Carpooling.Handlers.FilesUploader"/>
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CacheImagen">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Front/Error.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Front/Contacto.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Front/Inicio.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location> 
  <location path="Front/Cuentas/RegistroUsuario.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Front/Cuentas/CrearCuenta.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location> 
  <location path="Front/Cuentas/RecuperarContrasenia.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <appSettings>    
    <add key="CacheImagenFolder" value="CacheImagen" />
    <add key="ImagenCuentaMujer" value="~/Styles/images/imgFotoPerfilMujer.jpg" />
    <add key="ImagenCuentaHombre" value="~/Styles/images/imgFotoPerfilHombre.jpg" />
    <add key="ImagenFumador" value="~/Styles/images/fumador.jpg" />
    <add key="ImagenVehiculo" value="~/Styles/images/vehiculo.png" />
    <add key="ImagenNoFumador" value="~/Styles/images/nofumador.png" />
    <add key="ImagenNoVehiculo" value="~/Styles/images/novehiculo.png" />
    <add key="ServidorEmailAdministrador" value="smtp.gmail.com" />
    <add key="PuertoServidorEmailAdministrador" value="587" />
    <add key="CuentaEmailAdministrador" value="carpoolingcolombia@gmail.com" />
    <add key="ContraseniaEmailAdministrador" value="admin.1234" />
    <add key="IntervaloSegundosEjecucionMonitoreoViajesVigentes" value="600000"/> <!--1000 equivale a un segundo-->
  </appSettings>
</configuration>